a {
  text-decoration: none !important;
}

* {
  font-family: "Alegreya", serif;
}

.App {
  background-color: #111;
}

.App > hr {
  width: 100%;
  margin: 0;
  background-color: #fff;
}

@media (max-width: 48rem) {
  .App > hr {
    display: none;
  }
}
